*
  font-weight: 400
  font-family: Verdana, Tahoma, sans-serif

// body
//   background-color: #191919

a
  text-decoration: none

h1, h2, p
  margin: 0

h2
  margin-bottom: 60px
  font-family: Nekst, sans-serif
  font-weight: 600
  font-size: 59px
  line-height: 59px
  color: #38449c

.button
  padding: 20px
  font-family: Nekst, sans-serif
  font-weight: 600
  display: flex
  justify-content: center
  align-items: center
  color: #ffffff
  font-size: 25px
  cursor: pointer
  &-icon
    flex-shrink: 0
    flex-grow: 0
    margin-right: 15px
    fill: #ffffff
    &_check
      width: 30px
      height: 30px

  &--green
    background-color: #9fc53a
  &--violet
    background-color: #652580
  &--blue
    background-color: #7ddcf5

.container
  max-width: 1440px
  margin-left: auto
  margin-right: auto

.overflow
  overflow: hidden
