.header

  background: #5768CF
  background: radial-gradient(circle farthest-corner at top center, #5768CF 0%, #39459D 50%)
  & .container
    display: flex
    align-items: center
    justify-content: space-between
  &-logo
    padding: 35px 0
    width: 235px
    object-fit: contain
  &-buttons
    display: flex
    align-self: flex-end
  &-button
    margin-left: 40px
